







/* *{
    
    color: fuchsia;
    font-family:Arial, Helvetica, sans-serif;
}

:root{
    --linecolor: whitesmoke;
    --most-text: fuchsia;
}

body {
    background-color: #1b1c1e;
}

header {
    text-align: center;
}

header p{
    color: whitesmoke;
}

section {
    display: flexbox;
    justify-content: center;
}
.container {
    display: flexbox;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.card {
    display: inline-flex;
    border: 2px dashed var(--linecolor);
    position: relative;
    justify-content: center;
    margin: 1%;
}

.card h2 {
    display: flex;
    padding: 5px;
    border: 1px solid var(--linecolor);
    border-radius: 10px;
    position: absolute;
    margin: 0 auto;
}

.card p {
    justify-content: left;
    display: block;
    padding: 40px
}

.card pre {
    padding: 40px;
    height: 4em;
    border: whitesmoke solid 2px;
    color: whitesmoke;
} */